[Desktop Entry]
Type=Service
Icon=system-software-install
Exec=kcmshell5 kcmrepotoggle

X-KDE-Library=kcmrepotoggle
X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcmrepotoggle
X-KDE-Weight=0
X-KDE-Keywords=distribution,distro,system,kernel,qt,kde
X-KDE-System-Settings-Parent-Category=system-administration
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=Software Channels
Comment=Switch different channels for getting software on and off
